{% extends 'base.html' %}
{% block title %}{{current_user.username}} Dashboard{% endblock %}
{% block head %} {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="dash-row">
        <div class="dash-col">
            <h2>{{current_user.username}}'s Reservations</h2>
            {% for res in reservations %}
            <p>{{res.date}} at {{res.start}}</p>
            {% endfor %}
        </div>
    </div>
    <div class="dash-row">
        <a href="/search">Make Another Reservation</a>
    </div>
</div>
{% endblock %}