{% extends 'base.html' %}
{% block title %}{{current_user.username}} Dashboard{% endblock %}
{% block head %} {% endblock %}

{% block body %}
<div class="container-fluid">
    <div class="dash-row">
        <div class="dash-col">
            <h2>{{current_user.username}}'s Reservations</h2>
            {% for res in upcoming_res %}
            <p>{{res[0]}} at {{res[1]}}</p>
            <button type="button" class="btn btn-outline-info delete-btn" id={{res[2]}}>Cancel Reservation</button>
            <br><br>
            {% endfor %}
        </div>
    </div>
    <div class="dash-row">
        <a href="/search">Make Another Reservation</a>
    </div>
</div>
<script src="/static/js/deleteBooking.js"></script>
{% endblock %}